In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# pull data from CSV
movie_data= "C:/Users/nickm/OneDrive/Desktop/project3/newcleandata1.csv"
movie_data_df = pd.read_csv(movie_data)
movie_data_df.head()

,test,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1.0,4.0,964982703.0
1,215,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,6.0,4.0,845553522.0
2,325,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,1.0,4.0,964981247.0
3,377,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0,6.0,3.0,845554349.0
4,384,5,Father of the Bride Part II (1995),Comedy,113041,11862.0,6.0,5.0,845553938.0

In [5]:
#database connection 
import username, password, host
from sqlalchemy import create_engine
#engine = create_engine(PostgreSQL+driver://username:password@host:port/database_name)

ModuleNotFoundError: No module named 'username'